* {
  padding:0;
  margin:0;
  font-family: 'Rubik', sans-serif;
  color : #FFF;
  font-size : 16pt;
}

html {
  height : 100%;
}

body {
  background-image : url(img/bg.jpg);
  background-attachment: fixed;
  height : 100%;
}

#preview {
  display:none;
} /*Preview est l'image qui s'affichera si des gens partagent le site via facebook*/

/*PRELOADER*/
.cssload-ball{
	position: relative;
	height: 78px;
	width: 78px;
	border-radius: 78px;
	border: 3px solid	rgb(4,117,204);
	left: 35%;
	left: calc(50% - 42px);
		left: -o-calc(50% - 42px);
		left: -ms-calc(50% - 42px);
		left: -webkit-calc(50% - 42px);
		left: -moz-calc(50% - 42px);
  top: 35%;
  top: calc(50% - 42px);
    top: -o-calc(50% - 42px);
    top: -ms-calc(50% - 42px);
    top: -webkit-calc(50% - 42px);
    top: -moz-calc(50% - 42px);

	transform-origin: 50% 50%;
		-o-transform-origin: 50% 50%;
		-ms-transform-origin: 50% 50%;
		-webkit-transform-origin: 50% 50%;
		-moz-transform-origin: 50% 50%;
	animation: cssload-ball 1.45s ease-in-out infinite;
		-o-animation: cssload-ball 1.45s ease-in-out infinite;
		-ms-animation: cssload-ball 1.45s ease-in-out infinite;
		-webkit-animation: cssload-ball 1.45s ease-in-out infinite;
		-moz-animation: cssload-ball 1.45s ease-in-out infinite;
}

.cssload-ball:after{
	content: "";
	position: absolute;
	top: -5px;
	left: 19px;
	width: 11px;
	height: 11px;
	border-radius: 10px;
	background-color: rgb(4,117,204);
}



@keyframes cssload-ball{
		0%{transform:rotate(0deg);}
		100%{transform:rotate(360deg);}
}

@-o-keyframes cssload-ball{
		0%{-o-transform:rotate(0deg);}
		100%{-o-transform:rotate(360deg);}
}

@-ms-keyframes cssload-ball{
		0%{-ms-transform:rotate(0deg);}
		100%{-ms-transform:rotate(360deg);}
}

@-webkit-keyframes cssload-ball{
		0%{-webkit-transform:rotate(0deg);}
		100%{-webkit-transform:rotate(360deg);}
}

@-moz-keyframes cssload-ball{
		0%{-moz-transform:rotate(0deg);}
		100%{-moz-transform:rotate(360deg);}
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 0; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: #111;
}
